html {
  scroll-behavior: smooth;
}

body {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  width: fit-content;
}

a {
  text-decoration: none;
}

.primary-main-container {
  background: url("../Img/abstract-geometric-background-black-and-white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/******************************** Header */
.header-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0px 20px;
  top: 10px;
  z-index: 2;
}

.header-container > a > img {
  height: 100%;
}

#img-logo {
  display: none;
  height: 90%;
  padding: 10px;
  border-radius: 20px;
  background-color: #181818;
  box-shadow: 8px 12px 14px -1px black;
}

.header-container a {
  height: 70%;
  animation: logoTranslated 1s ease-in-out;
}

@keyframes logoTranslated {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/******************************** Main Page */

.main-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #979780;
  background-color: #000000ad;
}

.main-items {
  width: 75%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-around-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-me {
  right: 0;
  bottom: 0;
  position: absolute;
  height: 35dvw;
  animation: OpacityMyImagen 6s;
}

@keyframes OpacityMyImagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full-name-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: #9a9afe;
  font-size: 4dvw;
  font-weight: 800;
  font-style: normal;
  font-family: "Lugrasimo", cursive;
  /* animation */
  left: 0px;
  position: relative;
  animation: moveFromLeft 3s ease;
}

.first-name {
  align-content: center;
  top: 30%;
  left: 10%;
}

.last-name {
  align-content: center;
  top: 30%;
  right: 10%;
}

.name-welcome-container {
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.typing-text {
  margin-bottom: 15px;
  font-weight: 800;
  color: #5555ff;
  font-size: 4dvw;
  animation: OpacityMyImagen 6s;
}

.letter-developer {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3dvw;
  margin-top: 15px;
  text-wrap: nowrap;
  animation: moveFromLeft 3s ease;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.paragraph-dynamic-container {
  width: 22%;
  bottom: 40px;
  left: 40px;
  position: absolute;
  overflow: hidden;
}

.paragraph-dynamic {
  font-size: 1.2dvw;
  animation: paragraphDynamic 3s;
}

@keyframes paragraphDynamic {
  0% {
    transform: translateX(100%);
  }
  50% {
    translate: 200%;
  }
}
/* ****************************** Navegator Bar menu */

.btn-open-menu {
  z-index: 100;
  display: none;
  border: 1px solid #939393;
  border-radius: 10px;
  cursor: pointer;
  background-color: #181818;
  color: #5555ff;
  position: absolute;
  right: 15px;
  top: 15px;
  
}

.btn-dblclicked{
  transform: translate(120%);
  border: none;
  background-color: transparent;
  animation: xMenuTranslated 0.25s ease-in-out 0.8s forwards;
}

@keyframes xMenuTranslated {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.navbar-container {
  display: flex;
  width: 90%;
  height: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70px;
  left: 50%;
  background-color: #161616;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 15px;
  animation: translateNavTop 2s ease-in-out;
}

@keyframes translateNavTop {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 70px;
  }
}

.circle-container > .circle:nth-child(6) {
  display: none;
}

.circle-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-wrap: nowrap;
  align-items: center;
}

.circle-container > .circle {
  font-size: 2rem;
}

.circle-container > .circle > a {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.circle-container > .circle > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 25px;
}





.navbar-container-2 {
  position: fixed;
  right: 20px;
  top: 75px;
  z-index: 2;
  border-radius: 15px;
  background-color: #161616;
  box-shadow: 8px 12px 14px -1px;
  animation: navBarTranslated 1s ease-in-out;
}

@keyframes navBarTranslated {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.navbar-item-container {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 0;
  font-size: 2rem;
}

.navbar-item-container a {
  color: #5555ff;
}

.navbar-item-container a:hover {
  color: #828387;
}

.navbar-item img {
  height: 200px;
  border-radius: 15px;
  background-color: #161616;
  box-shadow: 8px 12px 14px -1px;
}

#mi-imagen {
  display: none;
}



/******************************** My portfolio start */
.my-portfolio-start {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: CheckDownOpacity 5s;
}

@keyframes CheckDownOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name-portfolio {
  margin-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 3.1rem;
  animation: letterGif 2s infinite 4s alternate;
  transition: all 2s;
}

@keyframes letterGif {
  from {
    color: #ffffff;
  }

  to {
    color: transparent;
  }
}

.arrow-down-circle {
  font-size: 4rem;
  cursor: pointer;
  color: #5555ff;
  animation: bounceUpDown 0.9s ease-in-out infinite alternate;
}

@keyframes bounceUpDown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(15%);
  }
}

/******************************** Section 1 - About me */

.section-about-me {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#4e1212, #5555ff);
}

.section-about-me div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: left;
  color: white;
}

.section-about-me h1 {
  font-size: 3.1dvw;
}

.section-about-me p {
  font-size: 1.8dvw;
}

/******************************** section-skills-and-hobbies */

.skills-hobbies-container {
  position: relative;
  width: 100dvw;
  height: 180dvh;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* gap: 20px; */
  /* padding-block: 60px; */
  /* align-items: center; */
  background: linear-gradient(#5555ff, #4e121259);
}

/******************************** section-skills */

.skills-content-container {
  width: 55%;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  top: 20px;
  left: 40px;
  justify-content: flex-start;
}

.skills-content {
  width: 100%;
  display: flex;
  padding: 40px 0 40px 0;
  color: #000000;
  flex-wrap: wrap;
}

.skills-title-container {
}

.skills-title {
  display: flex;
  justify-content: center;
}

.skills-title > h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #000000;
  padding-inline: 25px;
}

/* Card container */
.cards-skills-container {
  display: flex;
  gap: 50px;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.card-skills-body {
  position: relative;
  flex-grow: 1;
  width: 330px;
  height: 260px;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 8px solid black;
  border-radius: 40px;
  background: linear-gradient(160deg, #1f1f5c, #732121);
  transition: all 300ms ease-in-out;
}

.card-skills-body:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 13px 2px #363535;
}

.inside-skills-card {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card-skills-img-top {
  width: 60%;
  margin: 10px;
  position: absolute;
  top: -50px;
  /* filter: drop-shadow(0 0 20rem black); */
  box-shadow: inset 0px 0px 0px black;
}

.card-skills-title {
  font-size: 2rem;
  position: absolute;
  bottom: 40px;
}

.card-skills-text {
  bottom: 10px;
  color: white;
  display: none;
}

/******************************** Section-Hobbies */

.hobbies-content-container {
  position: absolute;
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
  gap: 20px;
  padding: 30px;
  align-items: center;
  border-radius: 50px;
  bottom: 20px;
  right: 40px;
  background-color: #1f2020;
  box-shadow: 0px 20px 20px 2px black;
}

.hobbies-content {
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
  color: #000000;
  flex-direction: column;
}

.hobbies-content-robot {
  width: 62%;
  position: absolute;
  left: -44.5%;
  top: 10%;
}

.hobbies-container {
  display: flex;
  justify-content: center;
}

.hobbies-container > h1 {
  font-weight: bold;
  font-size: 3.1rem;
  text-align: center;
  color: white;
  padding: 20px;
}

/* Card container */
/* .cards-hobbies-container {
  width: 100%;
  display: flex;
  gap: 40px;
  color: #000000;
  flex-wrap: wrap;
  flex-direction: column;
} */

.card-hobbies-body {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px;
  color: #ffffff;
  border-top: 1px solid rgb(104 104 104);
}

/* .card-hobbies-body:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 12px 1px #ffe4c491;
} */

.card-hobbies-img-top {
  height: 150px;
  margin: 10px;
  padding: 7px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  background-color: #004a77;
}

.card-hobbies-text {
}

.inside-hobbies-card {
  color: #ffffff;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.card-hobbies-title {
  color: #fe8d59;
  font-size: 2rem;
  font-weight: 800;
}

.card-hobbies-text-p {
}

/******************************** Section - Projects */

.section-projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffffff, transparent);
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 50px;
}

.section-projects h1 {
  font-weight: 900;
  padding: 20px;
  font-size: 4rem;
  color: #2b2b82;
  text-align: center;
  margin-top: 80px;
}

.projects {
  width: 90%;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects .project {
  position: relative;
  width: 60%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: #1f1f1f;
  flex-direction: column;
}

.projects .project:nth-child(odd) {
  align-self: flex-end;
}

.projects .project:nth-child(even) {
  align-self: flex-start;
}

.project-title-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-item {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.projects .project:hover span {
  transform: translateY(0%);
}

.projects span {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  height: 40%;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.projects-btn-bg {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 1, 1) 100%
  ) !important;
  opacity: 0.6 !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  z-index: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.projects span h3 {
  font-size: 1.5rem;
  color: white;
}
.projects span p {
  font-size: 1rem;
  color: white;
}

.projects-button {
  display: flex;
  gap: 15px;
}

.btn-reposit {
  height: 45px;
  width: 150px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #2a7ae4;
  border-radius: 15px;
  cursor: pointer;
}
.btn-reposit:hover {
  background: #60606005;
  color: white;
  border: 2px solid white;
}

.btn-demo {
  height: 45px;
  width: 150px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #2a7ae4;
  border-radius: 15px;
  cursor: pointer;
}
.btn-demo:hover {
  background: #60606005;
  color: #2a7ae4;
  border: 2px solid #2a7ae4;
}

/******************************** Section - Formation Academy */

.section-formation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: #000000;
}

.formations-container {
  display: flex;
  align-items: center;
  width: 85%;
}

.Alura-container {
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.formation-academy-container {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

.formation-academy-container > h3 {
  font-size: 3.1rem;
  text-align: center;
  padding: 20px;
  color: white;
}

.slider-container {
  border-radius: 25px;
  border: 1px solid white;
  width: 75%;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.slider-items {
  display: flex;
  width: 300%;
  margin-left: -100%;
}

.card-imagen-1 {
  width: 35%;
}

.card-imagen-1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-imagen-2 {
  width: 35%;
}

.card-imagen-2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-imagen-3 {
  width: 35%;
}

.card-imagen-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container:hover {
  transform: scale(1.1);
  z-index: 2;
}

.bi-arrow-left-circle-fill {
  border-radius: 50%;
  position: absolute;
  font-size: 2.8dvw;
  color: white;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  left: 0;
  bottom: 0;
}

.bi-arrow-left-circle-fill:hover {
  transform: scale(1.2);
  background-color: #ffffff86;
}
.bi-arrow-left-circle-fill:active {
  transform: scale(0.8);
}

.bi-arrow-right-circle-fill {
  border-radius: 50%;
  position: absolute;
  font-size: 2.8dvw;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  right: 0;
  bottom: 0;
}

.bi-arrow-right-circle-fill:hover {
  transform: scale(1.2);
  background-color: #ffffff86;
}
.bi-arrow-right-circle-fill:active {
  transform: scale(0.8);
}

.card-text-container {
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

.card-text-box {
  font-size: 1vw;
  color: white;
  text-align: center;
  width: 100%;
}

.card-text-box h4 {
  font-size: 2vw;
}

/********************************  Contact me */
.section-contact-me {
  width: 100%;
  height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2929;
  background: linear-gradient(black, #2a2929);
}

.contact-me-container {
  width: 85%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 28px;
  border-radius: 25px;
  background-color: #282828;
}

.contact-us-social-media-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.contact-us-social-media-container img {
  margin: 10px;
}

.info-text-container {
  width: 50%;
  display: flex;
  text-wrap: balance;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-direction: column;
}

.form-container input {
  width: 85%;
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.form-container textarea {
  width: 85%;
  border: none;
  resize: vertical;
  outline: none;
}

.info-text-container button {
  border-radius: 10px;
  border: none;
  font-size: 2dvw;
  padding-block: 5px;
  width: 220px;
  font-weight: 700;
  background-color: #0a599f;
  cursor: pointer;
  color: white;
}

/******************************** footer  */

.my-footer {
  width: 100%;
  height: 185px;
  /* bottom: 0px; */
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, #282828, #02020299, #282828);
}

.social-media-container {
  display: flex;
  align-items: flex-end;
  margin: 15px;
  gap: 20px;
  padding-left: 0px;
  transition: all 0.3s;
}

.social-media-container a {
  font-weight: 600;
  font-size: 1.2rem;
  color: #117fc1;
}

.social-media-container a:hover {
  color: #0a599f;
}

.social-media-container i {
  height: 30px;
  font-size: 2rem;
  margin-right: 5px;
}

footer p {
  text-align: center;
  color: aliceblue;
}

.footer-up-portfolio img {
  height: 80px;
}

.copy-icon > em {
  font-size: 28px;
}
footer .copy-icon {
  text-wrap: nowrap;
  align-items: center;
  width: 15%;
  display: flex;
  justify-content: center;
  gap: 4px;
  color: aliceblue;
}

/******************************** Responsive - Devices  */

@media screen and (min-width: 681px) and (max-width: 1395px) {
  .header-container {
    top: 0px;
  }
  .header-items {
    font-size: 13px;
  }

  .header-container a {
    height: 60%;
  }

  .name-porfolio {
    display: none;
  }

  .header-menu-right {
    gap: 10px;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .main-items {
    flex-direction: column;
    width: 90%;
    height: 50%;
  }

  .imagen-me {
    height: 60dvw;
  }
  .name-welcome-container {
    width: 100%;
    align-items: center;
  }

  .typing-text {
    font-size: 7dvw;
  }

  .full-name-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 6dvw;
  }
  .letter-developer {
    font-size: 5dvw;
  }

  .paragraph-dynamic-container {
    bottom: 200px;
    left: 40px;
  }

  .paragraph-dynamic {
    font-size: 2dvw;
  }
  .my-portfolio-start {
    width: 80%;
    align-items: flex-start;
  }

  .btn-open-menu {
    position: fixed;
    font-size: 4.5rem;
    display: block;
  }

  .navbar-container-2 {
    width: 40%;
    height: 65dvh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #181818;
    box-shadow: 0 0 0 100vmax #3e3c3c6e;
    padding: 10px;
    z-index: 2;
    position: fixed;
    transform: translate(0%, 0%);
    right: 0;
    top: 0;
    left: auto;
  }

  .navbar-container {
    width: 40%;
    height: 65dvh;
    position: fixed;
    flex-direction: column;
    align-items: end;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 0 100vmax #3e3c3c6e;
    padding: 10px;
    transform: translate(0%, 0%);
    right: 0;
    top: 0;
    left: auto;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
  }

  .navbar-container-visible {
    opacity: 1;
    visibility: visible;
    animation: navBarSideRight 1s ease-in;
  }

  @keyframes navBarSideRight {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(right, 0%);
    }
  }

  .navbar-item-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
  }

  .circle-container {
    height: 100%;
    flex-direction: column;
    padding: 0;
    border-radius: 10px;
  }
  .circle-container > .circle {
    padding: 15px;
  }

  .navbar-item img {
    box-shadow: 0px 0px 19px 2px;
  }

  .arrow-down-circle {
    font-size: 4rem;
  }

  /******************************** about me */

  .section-about-me div {
    width: 90vw;
  }

  .section-about-me h1 {
    font-size: 4.1dvw;
  }

  .section-about-me p {
    font-size: 2.8dvw;
  }
  /******************************** section-skills-and-hobbies */

  .skills-hobbies-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    gap: 50px;
  }

  .skills-content-container {
    position: relative;
    width: 94%;
    height: auto;
    left: 30px;
  }

  .skills-content {
    justify-content: center;
  }

  .hobbies-content-container {
    position: relative;
    height: auto;
    bottom: 0;
    right: 0;
    transform: translate(40%, 0%);
    width: 65%;
  }

  .hobbies-content-robot {
    width: 50%;
    left: -36%;
  }

  /******************************** section projects */

  .projects {
    width: 90%;
    align-content: center;
  }

  .projects .project {
    width: 70%;
  }

  .projects span {
  }

  .project-title-container {
    top: 50%;
    left: 50%;
  }

  .projects-btn-bg {
  }

  /******************************** section formation */
  .formations-container {
    width: 90%;
    flex-direction: column;
    gap: 30px;
  }

  .Alura-container {
    width: 60%;
  }

  .slider-container {
    width: 90%;
  }

  .video-item {
    width: 100%;
    border-radius: 20px;
  }

  /******************************** section contact me */
  .section-contact-me {
    height: auto;
  }

  .contact-me-container {
    width: 90%;
  }

  .info-text-container {
    color: white;
  }
  .info-text-container input {
  }
  .info-text-container button {
    background-color: #0a599f;
    cursor: pointer;
    color: white;
  }
}

@media screen and (max-width: 680px) {
  /* .container {
    border: none;
  } */

  .header-container {
    top: 0px;
    height: 80px;
    z-index: 3;
  }

  #img-logo {
    border-radius: 10px;
  }

  .header-items {
    font-size: 12px;
  }

  .name-porfolio {
    display: none;
  }

  .header-items img {
    height: 90px;
  }

  .header-menu-right {
    gap: 10px;
  }

  /******************************** section-Primary-screen */

  .main-container {
    height: 100dvh;
    flex-direction: column;
    align-items: center;
  }

  .main-items {
    width: 100%;
    height: 60%;
  }

  .imagen-me {
    height: 75dvw;
  }

  .name-welcome-container {
    width: 90%;
  }

  .typing-text {
    font-size: 8dvw;
  }

  .full-name-container {
    font-size: 8dvw;
  }

  .paragraph-dynamic-container {
    width: 35%;
  }
  .paragraph-dynamic {
    font-size: 2.5dvw;
  }

  .letter-developer {
    font-size: 5dvw;
  }

  .btn-open-menu {
    display: block;
    font-size: 3.5rem;
    position: fixed;
  }

  .navbar-container-2 {
    width: 40%;
    height: 65dvh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #181818;
    box-shadow: 0 0 0 100vmax #3e3c3c6e;
    padding: 10px;
    z-index: 2;
    position: fixed;
    transform: translate(0%, 0%);
    right: 0;
    top: 0;
    left: auto;
  }

  .navbar-container {
    width: 40%;
    height: 65dvh;
    position: fixed;
    flex-direction: column;
    align-items: end;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 0 100vmax #3e3c3c6e;
    padding: 10px;
    transform: translate(0%, 0%);
    right: 0;
    top: 0;
    left: auto;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
  }

  .navbar-container-visible {
    opacity: 1;
    visibility: visible;
    animation: navBarSideRight 1s ease-in;
  }

  @keyframes navBarSideRight {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(right, 0%);
    }
  }

  .navbar-item-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    font-size: 1.5rem;
  }

  .circle-container {
    height: 100%;
    flex-direction: column;
    padding: 0;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .circle-container > .circle {
    font-size: 1.5rem;
    padding: 15px;
  }

  .navbar-item img {
    box-shadow: 0px 0px 19px 2px;
  }

  .my-portfolio-start {
    position: relative;
  }

  .name-portfolio {
    font-size: 2rem;
    position: absolute;
    left: 20px;
  }

  .arrow-down-circle {
    position: absolute;
    bottom: 20px;
  }

  /******************************** section-About-me */
  .section-about-me {
    height: 100dvh;
  }

  .section-about-me div {
    width: 85vw;
    align-items: center;
  }

  .section-about-me h1 {
    font-size: 4dvw;
  }

  .section-about-me p {
    font-size: 2.8dvw;
  }

  /******************************** section-skills-and-hobbies */

  .skills-hobbies-container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-block: 60px;
  }

  /*---------------- Skills */

  .skills-content-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    left: 0;
  }

  .card-skills-body {
    width: 250px;
  }

  /*---------------- Hobbies */

  .hobbies-content-container {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    right: 0;
  }

  .hobbies-content-robot {
    display: none;
  }

  /******************************** section-Projects */
  .section-projects {
    padding-block: 60px;
  }

  .projects {
    width: 90%;
    align-content: center;
  }

  .projects .project {
    width: 90%;
    margin: 0 auto;
  }

  .video-item {
    width: 100%;
  }
  .projects span {
    width: 80%;
    align-content: center;
    flex-direction: column;
  }

  .social-media-container {
    flex-direction: column;
    align-items: flex-start;
  }

  /******************************** section-Formation */

  .section-formation {
    padding-block: 60px;
    gap: 50px;
  }
  .formations-container {
    width: 90%;
    flex-direction: column;
    gap: 25px;
  }

  .Alura-container {
    width: 100%;
    padding: 10px;
  }
  .slider-container {
    width: 85%;
  }

  .card-text-container {
    width: 100%;
  }

  .bi-arrow-left-circle-fill {
    border-radius: 50%;
    position: absolute;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .bi-arrow-right-circle-fill {
    border-radius: 50%;
    position: absolute;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .card-text-box h4 {
    font-size: 5vw;
    margin: 10px;
  }
  .card-text-p {
    font-size: 3vw;
  }

  /******************************** section-contact-me */

  .section-contact-me {
    height: auto;
    padding-top: 20px;
  }

  .contact-me-container {
    width: 90%;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column-reverse;
  }

  .info-text-container {
    width: 100%;
    align-items: center;
  }

  .info-text-container span {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }

  .form-container {
    align-items: center;
  }

  .form-container input {
    width: 250px;
    padding: 10px;
  }

  .form-container textarea {
    border-radius: 10px;
  }
  .info-text-container button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
  }

  .contact-us-social-media-container {
    width: 100%;
    border-top: 1px solid #757575;
  }

  .contact-us-social-media-container img {
    display: none;
  }
}
