html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: #282828;
  overflow: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/******************************** Header */
.header-container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0px 20px;
  top: 10px;
}

.header-container > a > img {
  height: 100%;
}

#img-logo {
  display: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #161616;
  height: 70%;
  box-shadow: 8px 12px 14px -1px black;
}

.header-container a {
  height: 60%;
  animation: logoTranslated 2s ease;
}

@keyframes logoTranslated {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.btn-open-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: #5555ff;
  position: absolute;
  right: 15px;
  top: 15px;
}
.btn-close-menu {
  display: none;
  font-size: 2.1rem;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  color: #5555ff;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navbar-container-2 {
  display: flex;
  justify-content: flex-end;
  right: 0;
  top: 50px;
  position: fixed;
  z-index: 1;
  animation: navBarTranslated 2s ease;
}

@keyframes navBarTranslated {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.navbar-item-container {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  padding-right: 0;
  margin-right: 15px;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #161616;
  box-shadow: 8px 12px 14px -1px;
}

.navbar-item-container a {
  color: #5555ff;
}

.navbar-item-container a:hover {
  color: #828387;
  transform: scale(1.5);
}

.navbar-item img {
  width: 90px;
  height: 100px;
  border-radius: 15px;
  background-color: #161616;

  box-shadow: 8px 12px 14px -1px;
}

#mi-imagen {
  display: none;
}

/******************************** Main Page */

.main-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url(../Img/abstract-geometric-background-black-and-white-vector-7762856.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #faebd7;
}

.main-items {
  width: 65%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-around-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-me {
  border-radius: 25%;
  height: 35dvw;
  /* filter: drop-shadow(-8px 2px 19px black); */
  animation: OpacityMyImagen 6s;
}

@keyframes OpacityMyImagen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full-name-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  font-size: 4dvw;
  font-weight: 800;
  font-style: normal;
  font-family: "Lugrasimo", cursive;
  /* animation */
  left: 0px;
  position: relative;
  animation: scalingName 3s;
}

@keyframes scalingName {
  0% {
    width: 0%;
    transform: scale(0);
  }

  100% {
    width: 100%;
  }
}

.first-name {
  align-content: center;
  top: 30%;
  left: 10%;
}

.last-name {
  align-content: center;
  top: 30%;
  right: 10%;
}

.name-welcome-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}

.typing-text {
  font-weight: 800;
  color: #5555ff;
  font-size: 3dvw;
  animation: OpacityMyImagen 6s;
}

.letter-developer {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2dvw;
  margin-top: 30px;
  text-wrap: nowrap;
  animation: moveFromLeft 3s;
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.paragraph-dynamic-container {
  margin-left: 50px;
  width: 34%;
  overflow: hidden;
}

.paragraph-dynamic {
  font-size: 1.2dvw;
  animation: paragraphDynamic 3s;
}

@keyframes paragraphDynamic {
  0% {
    transform: translateX(100%);
  }
  50% {
    translate: 200%;
  }
}
/* ****************************** Menu around circle */

.navbar-container {
  display: flex;
  width: 20%;
  right: 130px;
  top: 160px;
  position: absolute;
}

.circle-container {
  width: 100%;
  height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  text-wrap: nowrap;
  animation: scalingName 3s;
}

.circle-container > .circle {
  font-size: 2vw;
  position: relative;
  height: 75px;
}

.circle-container > .circle a {
  color: #828387;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.circle-container > .circle:nth-child(odd) {
  text-align: left;
}
.circle-container > .circle:nth-child(odd) > a:hover {
  font-size: 2.2vw;
  color: #5555ff;
}

.circle-container > .circle:nth-child(even) {
  text-align: right;
}
.circle-container > .circle:nth-child(even) > a:hover {
  font-size: 2.2vw;
  color: #5555ff;
}

/******************************** My portfolio start */
.my-portfolio-start {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.name-portfolio {
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 3.1rem;
  animation: letterGif 2s infinite 4s alternate;
  transition: all 2s;
}

@keyframes letterGif {
  from {
    color: #ffffff;
  }

  to {
    color: transparent;
  }
}

.my-portfolio-start img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  filter: contrast(0.5);
  animation: bounceUpDown 0.7s infinite alternate;
}

@keyframes bounceUpDown {
  from {
    transform: translateY(20%);
  }

  to {
    transform: translateY(0%);
    transform: scale(1.1);
  }
}

/******************************** Section 1 - About me */

.section-about-me {
  height: 100dvh;
  background: linear-gradient(#5555ff, black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-about-me div {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: left;
  color: white;
}

.section-about-me h1 {
  font-size: 3.1dvw;
}

.section-about-me p {
  font-size: 2dvw;
}

/******************************** section-skills-and-hobbies */

.container-skills-hobbies {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #5555ff;
}

/******************************** section-skills */
.section-skills {
  width: 45%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 40px 20px 40px 50px;
  color: #000000;
  background-color: white;
  border-radius: 100px 0px 0px 100px;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills-container > h1 {
  font-weight: bold;
  font-size: 3.1rem;
  text-align: center;
  color: #000000;
  padding-inline: 25px;
}

/* Card container */
.cards-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 40px;
  color: white;
}

.card-skills-body {
  flex-grow: 1;
  width: 290px;
  height: 400px;
  display: flex;
  padding: 15px;
  background-color: #000000;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-skills-body:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 13px 2px #363535;
}

.inside-card-container-1 {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-skills-img-top {
  width: 75%;
  margin: 10px;
}

.card-skills-title {
  font-size: 2rem;
}

.card-skills-text {
  bottom: 10px;
  color: white;
}

/******************************** Section-Hobbies */
.section-hobbies {
  width: 45%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 50px 40px 20px;
  color: #000000;
  background-color: black;
  border-radius: 0px 100px 100px 0px;
}

.hobbies-container {
  display: flex;
  justify-content: center;
}

.hobbies-container > h1 {
  font-weight: bold;
  font-size: 3.1rem;
  text-align: center;
  color: white;
  padding-inline: 25px;
}

.cards-hobbies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
  color: #000000;
}

.card-hobbies-body {
  flex-grow: 1;
  width: 290px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px 1px #ffe4c491;
  padding: 15px;
}

.card-hobbies-body:hover {
  transform: scale(1.05);
}

.card-hobbies-img-top {
  width: 85%;
  margin: 20px;
}

.card-hobbies-text {
  color: #000000;
}

.inside-hobbies-card {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-hobbies-title {
  font-size: 2rem;
  font-weight: 800;
}

/******************************** Section - Projects */

.section-projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffffffba, black);
}

.section-projects {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 25px;
  gap: 50px;
}

.section-projects h1 {
  font-weight: 900;
  padding: 20px;
  font-size: 3.1rem;
  color: #282828;
  text-align: center;
}

.projects {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.projects iframe {
  margin: 15px;
}

.project-1 {
  flex-direction: row;
}

.project-2 {
  flex-direction: row-reverse;
}

.project-3 {
  flex-direction: row;
}

.project-4 {
  flex-direction: row-reverse;
}

.projects span {
  width: 38%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}
.projects span h3 {
  font-size: 1.5rem;
  color: white;
}
.projects span p {
  font-size: 1rem;
  color: white;
}

.projects-button {
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: center;
}

.btn-reposit {
  height: 45px;
  width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #2a7ae4;
  border-radius: 15px;
}
.btn-reposit:hover {
  background: #60606005;
  color: white;
  border: 2px solid white;
}

.btn-demo {
  height: 45px;
  width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #2a7ae4;
  border-radius: 15px;
}
.btn-demo:hover {
  background: #60606005;
  color: #2a7ae4;
  border: 2px solid #2a7ae4;
}

/******************************** Section - Formation Academy */

.section-formation {
  height: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: black;
  background-size: 100% 1047px;
}

.formations-container {
  display: flex;
  align-items: center;
  width: 85%;
}

.Alura-container {
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.formation-academy-container {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

.formation-academy-container > h3 {
  font-size: 3.1rem;
  text-align: center;
  padding: 20px;
  color: white;
}

.slider-container {
  border-radius: 75px;
  border: 1px solid white;
  width: 75%;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.slider-items {
  display: flex;
  width: 300%;
  margin-left: -100%;
}

.card-imagen-1 {
  width: 35%;
}

.card-imagen-1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-imagen-2 {
  width: 35%;
}

.card-imagen-2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-imagen-3 {
  width: 35%;
}

.card-imagen-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container:hover {
  transform: scale(1.6);
  z-index: 2;
}

.arrow-left {
  width: 55px;
  font-weight: 700;
  /* top: 40%; */
  left: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 3.5rem;
  font-family: monospace;
  color: white;
  background-color: #ffffff45;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.arrow-left:hover {
  transform: scale(1.2);
  background-color: #ffffff86;
}
.arrow-left:active {
  transform: scale(0.8);
}

.arrow-right {
  width: 55px;
  font-weight: 700;
  /* top: 40%; */
  right: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 3.5rem;
  font-family: monospace;
  color: white;
  background-color: #ffffff45;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.arrow-right:hover {
  transform: scale(1.2);
  background-color: #ffffff86;
}
.arrow-right:active {
  transform: scale(0.8);
}

.card-text-container {
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

.card-text-box {
  font-size: 1vw;
  color: white;
  text-align: center;
  width: 100%;
  text-shadow: 0px -11px 5px black;
}

.card-text-box h4 {
  font-size: 2vw;
}

/********************************  Contact me */
.section-contact-me {
  width: 100%;
  height: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2929;
}

.contact-me-container {
  width: 85%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 28px;
  border-radius: 25px;
  background-color: #faebd71f;
}

.contact-us-social-media-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.contact-us-social-media-container img {
  margin: 10px;
}

.info-text-container {
  width: 40%;
  display: flex;
  text-wrap: balance;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info-text-container button {
  border-radius: 10px;
  border: none;
  font-size: 28px;
  padding-block: 5px;
  width: 220px;
  font-weight: 900;
}

.form-container {
  display: grid;
  grid-gap: 8px;
  justify-content: start;
  justify-items: start;
}

.form-container input {
  width: 480px;
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.form-container textarea {
  width: 100%;
  height: 300px;
  border: none;
  resize: vertical;
}

/******************************** footer  */

.my-footer {
  width: 100%;
  height: 185px;
  /* bottom: 0px; */
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #282828, #02020299, #282828);
}

.social-media-container {
  display: flex;
  align-items: flex-end;
  margin: 15px;
  gap: 20px;
  padding-left: 0px;
  transition: all 0.3s;
}

.social-media-container > a {
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff;
}

.social-media-container a:hover {
  color: rgb(108, 4, 4);
}

.social-media-container > a > img {
  height: 30px;
  margin-right: 5px;
}

footer p {
  text-align: center;
  color: aliceblue;
}

.footer-up-portfolio img {
  height: 80px;
}

.copy-icon > em {
  font-size: 28px;
}
footer .copy-icon {
  align-items: center;
  width: 15%;
  display: flex;
  justify-content: center;
  gap: 4px;
  color: aliceblue;
}

/******************************** Responsive - Devices  */

@media screen and (min-width: 681px) and (max-width: 1240px) {
  .header-items {
    font-size: 13px;
  }

  .header-container a {
    height: 60%;
  }

  .name-porfolio {
    display: none;
  }

  .header-menu-right {
    gap: 10px;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .main-items {
    flex-direction: column;
    width: 80%;
  }

  .imagen-me {
    height: 55dvw;
  }
  .name-welcome-container {
    width: 90%;
    align-items: center;
  }

  .full-name-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .btn-open-menu,
  .btn-close-menu {
    display: block;
  }

  .navbar-container {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    background: #282828d4;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 0 100vmax #3e3c3c6e;
    padding: 2rem;
  }

  .navbar-container-visible {
    opacity: 1;
    visibility: visible;
  }

  .navbar-item-container {
    height: 20px;
    font-size: 1rem;
  }

  .navbar-item-container a:hover {
    color: #828387;
    transform: scale(1.1);
  }

  .circle-container {
    display: flex;
    height: 690px;
    align-items: end;
    flex-direction: column;
  }

  .circle {
    display: flex;
    height: 100px;
    align-items: center;
  }

  .circle-container > .circle:nth-child(even) {
    text-align: left;
  }

  /******************************** section-skills-and-hobbies */
  .container-skills-hobbies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .section-skills {
    width: 85%;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
  }

  .cards-skills-container {
    gap: 20px;
  }

  .card-skills-body {
    width: 190px;
    height: 300px;
    border-radius: 25px;
  }

  .inside-card-container-1 {
    align-items: flex-start;
    height: 70%;
  }
  .card-skills-title {
    font-size: 1.4rem;
  }

  .section-hobbies {
    width: 85%;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
  }

  .card-hobbies-body {
    width: 190px;
    height: 300px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 680px) {
  .header-items {
    font-size: 12px;
  }

  .name-porfolio {
    display: none;
  }

  .header-items img {
    height: 90px;
  }

  .header-menu-right {
    gap: 10px;
  }

  .main-container {
    height: 100dvh;
    flex-direction: column;
    align-items: center;
  }

  .main-items {
    width: 85%;
  }

  .imagen-me {
    height: 75dvw;
  }

  .full-name-container {
    height: 90px;
  }

  .firt-name {
    height: 20%;
  }
  .last-name {
    height: 20%;
  }

  .letter-developer {
    font-size: 2dvw;
  }

  .btn-open-menu,
  .btn-close-menu {
    display: block;
  }

  .navbar-container {
    display: none;
  }

  .circle-container {
    height: 80dvh;
  }

  .name-portfolio {
    font-size: 1.1rem;
  }

  .my-portfolio-start img {
    height: 30px;
    width: 30px;
  }

  /******************************** section-skills-and-hobbies */
  .container-skills-hobbies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }
}
.section-skills {
  width: 70%;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}

.cards-skills-container {
  gap: 20px;
}

.card-skills-body {
  width: 190px;
  height: 300px;
  border-radius: 25px;
}

.inside-card-container-1 {
  align-items: flex-start;
  height: 70%;
}
.card-skills-title {
  font-size: 1.4rem;
}

.section-hobbies {
  width: 70%;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}

.card-hobbies-body {
  width: 190px;
  height: 300px;
  border-radius: 25px;
}

/******************************** about me */

.section-about-me div {
}
/******************************** contact me */
/******************************** contact me */
.contact-me-container {
  display: flex;
  flex-direction: column;
}

.info-text-container {
  width: 100%;
}

.form-container input {
  width: 290px;
}
